body {
  text-align: center;
  background-color: white;
}

#level-title {
  font-family: 'Gochi Hand' ;
  font-size: 4rem;
  margin:  5%;
  color: #ff2e63;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #ff2e63;
  border-radius: 20%;
}

.game-over {
  background-color: #84142d;
  opacity: 0.8;
}

.red {
  background-color: #84142d;
}

.green {
  background-color: #29c7ac;
}

.blue {
  background-color: #142850;
}

.yellow {
  background-color: #ffa41b;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
